/* Copyright (C) 2020-2021 Stephan Kreutzer
 *
 * This file is part of GeoAR.
 *
 * GeoAR is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License version 3 or any later version,
 * as published by the Free Software Foundation.
 *
 * GeoAR is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License 3 for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 3
 * along with GeoAR. If not, see <http://www.gnu.org/licenses/>.
 */

body
{
    font-family: sans-serif;
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

#location
{
    color: #D3D3D3;
}

#direction
{
    color: #D3D3D3;
}

.position
{
    color: #D3D3D3;
}
