/* Copyright (C) 2013-2020  Stephan Kreutzer
 *
 * This file is part of GeoAR.
 *
 * GeoAR is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License version 3 or any later version,
 * as published by the Free Software Foundation.
 *
 * GeoAR is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License 3 for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 3
 * along with GeoAR. If not, see <http://www.gnu.org/licenses/>.
 */



.mainbox_proceed
{
    margin: 20px;
}

.languageselector
{
    /* Centering. */
    width: 70%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.languageselector_text
{
    color: #000000;
}



.mainbox
{
    /* Centering. */
    margin-left: auto;
    margin-right: auto;
    /*width: 75%;*/

    border-style: solid;
    border-width: 0px;
    background-color: #FFFFFF;

    padding: 5px;
}

.mainbox_header
{
    background-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.mainbox_header_h1
{
    color: #FFFFFF;
    text-align: center;
}

.mainbox_body
{
    background-color: #FFFFFF;
    text-align: justify;
}

.footerbox
{
    /* Centering. */
    margin-left: auto;
    margin-right: auto;
    /*width: 75%;*/

    padding: 5px;

    text-align: center;
    color: #FFFFFF;
}

.footerbox_link
{
    color: #000000;
}

.license
{
    font-family: monospace;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}


fieldset
{
    border: 0px;
}

.success
{
    color: green;
}

.error
{
    color: red;
}
